@font-face {
  font-family: 'monsterrat';
  src: url(../assets/fonts/monsterrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'monsterrat';
  src: url(../assets/fonts/monsterrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'monsterrat';
  src: url(../assets/fonts/monsterrat/Montserrat-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM sans';
  src: url(../assets/fonts/dm_sans/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'DM sans';
  src: url(../assets/fonts/dm_sans/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'DM sans';
  src: url(../assets/fonts/dm_sans/DMSans-Bold.ttf);
  font-weight: 700;
}
