@import url(./font.css);
@import url(./variable.css);
@import url(./utility.css);

*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'DM sans', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  color: var(--gray-500);
}

ul {
  list-style: none;
}

button,
a {
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  font: inherit;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--secondary-500);
  color: inherit;
  font: inherit;
  border-radius: 10px;
  font-size: 1.8rem;
  transition: background-color 0.2s ease-in, color 0.4s ease-out;
  padding: 1.2rem 3.2rem;
}

.btn-primary:hover {
  background-color: var(--primary-500);
  color: white;
}

.disable-scroll-bar {
  overflow-y: hidden;
}

.secondary-button {
  color: var(--primary-500);
  text-decoration: underline 2px var(--primary-500);
  text-underline-offset: 4px;
  transition: all 0.2s ease-in;
  font-style: bold;
}

.secondary-button:hover {
  color: var(--secondary-500);
  text-decoration-color: currentColor;
}
