.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 30;
  padding-block: 2.4rem;
  justify-content: center;
}

.navContainer {
  width: 90vw;
  gap: 72px;
}

.navContent {
  gap: 72px;
  flex-basis: 100%;
  justify-content: space-between;
  font-size: 1.6rem;
}

.navRoutes {
  gap: 48px;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.navRoutes > li {
  transition: color 0.2s ease-in;
}

.navRoutes > li:hover {
  color: var(--primary-500);
}

.call-to_action {
  gap: 32px;
}

.active-nav {
  color: var(--primary-500) !important;
}

.flex-positioned {
  display: flex;
  align-items: center;
}

.btn-menu {
  background-color: var(--secondary-500);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.btn-menu-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mobile-aside-position {
  position: absolute;
  top: 20px;
  right: 40px;
  width: calc(100% - 42px);
}

.mobile-aside-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: min(65vw, 300px);
  background-color: var(--primary-100);
  box-shadow: 5px 6px 20px 0px #575757;
}

@media screen and (min-width: 600px) {
  .mobile-aside-menu {
    width: 65vw;
  }
}

.mobile-nav-list-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  font-size: 32px;
  color: var(--gray-500);
}

:is(.larger-screen, .mobile-nav-links) a {
  font: inherit;
  color: currentColor;
}

.mobile-nav-links li:hover {
  color: var(--primary-500);
}

.close-menu-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.stickNav {
  background-color: var(--primary-100);
}
